<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/Home" />
    <script src="_content/Telerik.UI.for.Blazor/js/telerik-blazor.js"></script>
    <link rel="stylesheet" href="_content/Telerik.UI.for.Blazor/css/kendo-theme-default/all.css" />
    @* <link rel="stylesheet" href="_content/MMPD.Shared/bootstrap/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="_content/MMPD.Shared/app.css" />
    <link rel="stylesheet" href="MMPD.Web.styles.css" />
    <link rel="icon" type="image/png" href="_content/MMPD.Shared/favicon.png" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <WebRoutes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>

</body>

</html>
