

.status-bar-safe-area {
    display: none;
}

@supports (-webkit-touch-callout: none) {
    .status-bar-safe-area {
        display: flex;
        position: sticky;
        top: 0;
        height: env(safe-area-inset-top);
        background-color: #f7f7f7;
        width: 100%;
        z-index: 1;
    }

    .flex-column, .navbar-brand {
        padding-left: env(safe-area-inset-left);
    }
}



.menu-item {
    background-color: #ff6358;
    margin: 8px 10px;
    border-radius: 0.75rem;
    flex: 1;
    letter-spacing: 0.5px;
    /* padding: 10px 0; */
}

    .menu-item:hover {
        transition: transform 0.2s ease-in, opacity 0.2s ease-in;
        transform: translateY(0) scale(0.95);
        background-color: #FA574B;
    }

.button-page-container {
    height: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    background-color: var(--kendo-color-secondary-emphasis);
}

.button-list-container {
    background-color: transparent !important;
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 1px 0;
    padding: 2px 0;
    overflow-y: auto; /* Enable scrolling */
}

.scrollable-wrapper {
    flex: 1;
    overflow-y: auto;
    margin: 1px 0;
    padding: 0px 0;
    /* Hide scrollbar */
    scrollbar-width: none;
    -ms-overflow-style: none;
}

    .scrollable-wrapper::-webkit-scrollbar {
        display: none;
    }

