
@inherits LayoutComponentBase
@using Telerik.Blazor
@using Telerik.Blazor.Components

<TelerikRootComponent>

    <div class="">
        @* <header>
            <h1>Directory App</h1>
        </header> *@
        <main>
            @Body
        </main>
    </div>

</TelerikRootComponent>
