@page "/corporate"
@inject IJSRuntime JSRuntime
@using MMPD.Data.Models
@using MMPD.Data.Context
@inject IDirectoryService DirectoryService
@inject NavigationManager NavigationManager
@using MMPD.Shared.Components
@using MMPD.Shared.Layout
@using MMPD.Data.Data
@using Telerik.Blazor
@using Telerik.Blazor.Components
@using Telerik.SvgIcons

<PageTitle>Corporate</PageTitle>

@if (Departments == null || Departments.Count == 0)
{
    <p>Loading corporate data...</p>
}
else
{
    <div class="k-d-grid k-grid-cols-1 k-grid-auto-rows-auto k-bg-dark-subtle no-scrollbar ">
        @* <section class="k-row-start-1 k-row-end-3 k-mb--1">
            <HeaderCard Info="HeaderCard.HeadInfoCardModel.Corporate()"/>
            <div class="k-elevation-2">
                <SearchBar />
            </div>
        </section> *@

        <section class="k-row-start-3 k-row-end-8 no-scrollbar k-px-5 k-mb--0 ">
            <TelerikListView Data="@Departments" EnableLoaderContainer="true" Class="k-border-transparent k-bg-dark-subtle ">
                <Template Context="dept">
                    <NavLink href="@($"/corporate/{dept.Id}")" class="link-body-emphasis k-text-no-underline k-shadow">
                        <div class="menu-item k-d-flex k-flex-row k-text-uppercase k-text-white k-justify-content-start k-align-items-center k-pl-10 k-bg-gradient k-py-6 hover:k-elevation-2">
                            @dept.DeptName
                        </div>
                    </NavLink>
                </Template>
            </TelerikListView>
        </section>

        @* <section class="k-row-start-8 k-row-end-10 k-z-auto">
            <FooterNav Items="FooterNavItems" />
        </section> *@
    </div>
}

<style>
    .menu-item {
    background-color: #ff6358;
    margin: 7px 0;
    border-radius: 0.75rem;
    }

    .menu-item:hover {
    transition: transform 0.2s ease-in, opacity 0.2s ease-in;
    transform: translateY(0) scale(0.95);
    background-color: #FA574B;
    }

   
</style>

@code {
    private List<Department>? Departments = new();
    private Location? corporate;
    

    // private HeadInfoCardModel CorporateHeadCard = new()
    // {
    //     Title = "Corporate",
    //     Address = "1500 Hamilton Rd",
    //     City = "Bossier City",
    //     State = "LA",
    //     Zip = "71111",
    //     Subtitle1 = "Corp. Phone",
    //     Phone = "(888) 245-3696",
    //     Subtitle2 = "Corp. Email",
    //     Email = "info@mcelroymetal.com",
    //     Subtitle3 = "IT Help Desk",
    //     Phone2 = "(866) 634-5111"
    // };

    private List<FooterNav.FooterItem> FooterNavItems = new()
    {
        new FooterNav.FooterItem(CustomIcons.Home, "Home", "/"),
        new FooterNav.FooterItem(CustomIcons.MetalMart, "Metal Mart", "/metalmart"),
        new FooterNav.FooterItem(CustomIcons.ServiceCenter, "Service Center", "/servicecenter"),
        new FooterNav.FooterItem(CustomIcons.Plant, "Plant", "/plant")
    };

    protected override async Task OnInitializedAsync()
    {
        // var data = await DirectoryService.GetDataRootAsync();
        // if (data?.Loctype.TryGetValue("corporate", out var corpGroup) == true)
        // {
        //     Departments = corpGroup.Locations.SelectMany(l => l.Departments).ToList();
        // }

        corporate = await DirectoryService.GetLocationWithDepartmentsAsync(1);
        Departments = corporate?.Departments.ToList() ?? new List<Department>();
    }
}
