@page "/logout"
@using MMPD.Web.Services
@using Telerik.Blazor.Components
@using Telerik.SvgIcons

@inject IAuthService AuthService
@inject NavigationManager NavigationManager
@inject IHttpContextAccessor HttpContextAccessor

<TelerikWindow Modal="true"
               Visible="true"
               Width="300px"
               Height="150px">
    <WindowTitle>
        <TelerikSvgIcon Icon="@SvgIcon.Logout" /> Signing Out
    </WindowTitle>
    <WindowContent>
        <div class="text-center p-3">
            <TelerikLoader Size="Large" />
            <p class="mt-2">Signing you out...</p>
        </div>
    </WindowContent>
</TelerikWindow>

@code {
    protected override async Task OnInitializedAsync()
    {
        try
        {
            var httpContext = HttpContextAccessor.HttpContext;
            if (httpContext != null)
            {
                await AuthService.LogoutAsync(httpContext);
            }
            
            // Add a small delay for better UX
            await Task.Delay(1000);
        }
        catch (Exception)
        {
            // Handle logout errors gracefully
        }
        finally
        {
            NavigationManager.NavigateTo("/", true);
        }
    }
}